// archive-blog
.blog-description {
    text-align: center;
}

.container-blog {
    background-color: #fbfbf2;
}

.cards-title {
    text-align: center;
    padding-bottom: 4rem;
    color: #A07A2E;
    font-weight: bold;
}

.pagination {
padding-left: 1rem;
}

#tags {
    width: 80%;
}

#container-first-post {
    padding: 5rem;
}

// single-blog
.container-single-post {
    padding: 5rem;
}

.navigation {
    padding-bottom: 2rem;
    text-align: center;
}









  
