
.site-footer {

    background: #FCD5A6;
    color: #A07A2E;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem 0;
    margin: 0;
}

.container-footer {
    padding: 0rem 5rem 0rem 5rem;

}



