
.site-footer {

    background: #A9BCF5;
    color: #f0f0f0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem 0;
    margin: 0;
    border-top: rem-calc(2) solid red;
}