.top-bar {
    overflow: hidden;
    background-color: #A9BCF5;
    background-color: #FCD5A6;
  }
  
  .top-bar-left a {
    float: left;
    display: block;
    color: #A07A2E;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .button {
    background-color: #EDAE50;
  }
  
  .top-bar-left a:hover {
    background-color: #ddd;
    color: black;
  }

  ul.menu {
    background-color: #A9BCF5;
    background-color: #EDAE50;
    color: white;
  }

  .main-wrapper {
    background-image: url("https://jooinn.com/images/turquoise-ocean-background-1.png");
  }

  .main-container {
    background-color: #fbfbf2;
  }

  .logo {
    width:80px;
  }