.sidebar {
    padding-left: 0%;
    padding: 2rem;  
}

.monthly {
    list-style-type: none;
}

.categories {
    list-style-type: none;
}

h5  {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #263145;
}



