.pian_Container {
  background-color: antiquewhite;
}
.content {
    background-color: rgba(225, 248, 123, 0.63);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(7, 90, 7);
    margin:5px;
    }

h1 {
  font-weight: bold;
  text-align: center;
  }

  p {
    line-height: 120%;
  }

  .tahti {
    display: inline;
  }

  img {
    border: solid rgb(7, 90, 7) 5px;
    padding: 5px;
  }