// Tänne voi laittaa teeman omat tyylit

.main-wrapper {
    max-width: rem-calc(1200); // Tämä muuntaa pikselikoon REM-yksiköiksi.
    width: 100%;
    margin: 0 auto;  
        
}  
 body{
    background-image: url("https://jooinn.com/images/turquoise-ocean-background-1.png");
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


// Kohdekortit täyskorkeiksi.
.location-card {
    height: calc( 100% - #{$card-margin-bottom} );
}

.accent-bg {
    background-color: aqua;
}
.top-bar{
    background-color: #A9BCF5;
}
