// Tänne voi laittaa teeman omat tyylit

.main-wrapper {
    max-width: rem-calc(1200); // Tämä muuntaa pikselikoon REM-yksiköiksi.
    width: 100%;
    margin: 0 auto;
   
        
}
body {

    background-color: #E0E6F8;
}

// Kohdekortit täyskorkeiksi.
.location-card {
    height: calc( 100% - #{$card-margin-bottom} );
}

.accent-bg {
    background-color: aqua;
}
.top-bar{
    background-color: #A9BCF5;

}
